{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="row1">
        <h1>Predictions Competition</h1>
            <div id="box" class="box_title2">
                <h6>Come and have a go at our new Predictions Competition.
                <h6>It is only £1 to enter with big prizes to be won.</h6>
                <h3>Premier League Fixtures</h3>
                <h5>Saturday 20 October</h5>
                <form>
                <fieldset>
                <li><label>Chelsea</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Man United 12:30</label>
                <li><label>Bournemouth</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Southampton 15:00</label>
                <li><label>Cardiff</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Fulham 15:00</label>
                <li><label>Man City</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Burnley 15:00</label>
                <li><label>Newcastle</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Brighton 15:00</label>
                <li><label>West Ham</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Tottenham 15:00</label>
                <li><label>Wolves</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Watford 15:00</label>
                <li><label>Huddersfield</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                </select>
                <label>Liverpool 17:30</label>
                <h5>Sunday 20 October</h5>
                <li><label>Everton</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                    </select>
                    <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                    </select>
                    <label>C Palace 16:00</label>
                    <h5>Monday 21 October</h5>
                    <li><label>Arsenal</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                    </select>
                    <label>v</label>
                <select id = "myList">
                    <option value = "0">0</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                    </select>
                    <label>Leicester 20:00</label>
                    </li>
                <a class="btn btn-primary btn-sm" href="/checkout/">Submit</a></p>
            </div>
            </div>
        </fieldset>
    </form>
        <div class="row2">  
          <div class="ptable">
            <h5 class="headin">League Table</h5>
              <table>
                <tr class="col">
                  <th>Pos.</th>
                  <th>Team</th>
                  <th>Played</th>
                  <th>Pts</th>
                </tr>
                <tr class="wpos">
                  <td>1</td>
                  <td>Man City</td>
                  <td>8</td>
                  <td>20</td>
                </tr>
                  <td>2</td>
                  <td>Chelsea</td>
                  <td>8</td>
                  <td>20</td>
                </tr>
                  <td>3</td>
                  <td>Liverpool</td>
                  <td>8</td>
                  <td>20</td>
                </tr>
                  <td>4</td>
                  <td>Arsenal</td>
                  <td>8</td>
                  <td>18</td>
                </tr>
                  <td>5</td>
                  <td>Tottenham</td>
                  <td>8</td>
                  <td>18</td>
                </tr>
                  <td>6</td>
                  <td>Bournemouth</td>
                  <td>8</td>
                  <td>16</td>
                </tr>
                  <td>7</td>
                  <td>Wolves</td>
                  <td>8</td>
                  <td>15</td>
                </tr>
                  <td>8</td>
                  <td>Man United</td>
                  <td>8</td>
                  <td>13</td>
                </tr>
                  <td>9</td>
                  <td>Watford</td>
                  <td>8</td>
                  <td>13</td>
                </tr>
                  <td>10</td>
                  <td>Leicester</td>
                  <td>8</td>
                  <td>12</td>
                </tr>
                  <td>11</td>
                  <td>Everton</td>
                  <td>8</td>
                  <td>12</td>
                </tr> 
                  <td>12</td>
                  <td>Burnley</td>
                  <td>8</td>
                  <td>8</td>
                </tr> 
                  <td>13</td>
                  <td>Brighton</td>
                  <td>8</td>
                  <td>8</td>
                </tr> 
                  <td>14</td>
                  <td>Crystal Palace</td>
                  <td>8</td>
                  <td>7</td>
                </tr> 
                  <td>15</td>
                  <td>West Ham</td>
                  <td>8</td>
                  <td>7</td>
                </tr> 
                  <td>16</td>
                  <td>Southampton</td>
                  <td>8</td>
                  <td>5</td>
                </tr> 
                  <td>17</td>
                  <td>Fulham</td>
                  <td>8</td>
                  <td>5</td>
                </tr> 
                  <td>18</td>
                  <td>Huddersfield</td>
                  <td>8</td>
                  <td>3</td>
                </tr> 
                  <td>19</td>
                  <td>Newcastle</td>
                  <td>8</td>
                  <td>2</td>
                </tr> 
                  <td>20</td>
                  <td>Cardiff</td>
                  <td>8</td>
                  <td>2</td>
                </tr> 
              </table>
            </div>
        </div>
</body>
{% endblock %}        
