BzrTools==2.6.0
Click==7.0
Django==1.11.16
Flask==1.0.2
Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow==6.0.0
SecretStorage==2.0.0
Werkzeug==0.15.2
argparse==1.2.1
arrow==0.12.1
beautifulsoup4==4.6.3
boto==2.49.0
bzr==2.7.0.dev1
chardet==3.0.4
colorama==0.2.5
configobj==5.0.6
configparser==3.7.4
distro==1.4.0
dj-database-url==0.5.0
django-debug-toolbar==1.10.1
django-emoticons==1.2
django-forms-bootstrap==3.1.0
django-ses-gateway==0.1.1
django-simple-forum==0.0.7
django-simple-pagination==1.1.8
django-storages==1.7.1
django-tinymce==2.7.0
entrypoints==0.3
html5lib==0.999
httplib2==0.12.3
itsdangerous==1.1.0
keyring==19.0.1
launchpadlib==1.10.6
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.8
microurl==0.1.1
oauth==1.0.1
oauthlib==3.0.1
pbr==4.2.0
pycrypto==2.6.1
pygobject==3.12.0
pygpgme==0.3
python-apt===0.9.3.5ubuntu2
python-dateutil==2.7.3
python-http-client==3.1.0
pytz==2018.5
sendgrid==5.6.0
simplejson==3.3.1
six==1.12.0
sorl-thumbnail==12.4a1
sqlparse==0.2.4
testresources==2.0.1
urllib3==1.7.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
whitenoise==4.1.2
wsgiref==0.1.2
zope.interface==4.0.5
