body {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	background-color: #007bff;
}

.site-heading {
    height: 10%;
}

.background-graphic {
    background-color: blue;
} 

.nav-navbar-nav {
    background-color: blue;
}

.nav navbar-fixed-top navbar-default {
	height: 20%;
}

.p {
    color: #fff;
    font-size: 12px;
}

.label {
    color: white;
}

.container {
    background-color: #007bff;
}

.container2 {
    height: 100px;
}

.container3 {
    color: white;
}

.row {
	height: 100%;
	text-align: left;
    display: inline-block;
    margin-left: auto;
	margin-right: auto;
}

.row1 {
	width: 60%;
	float: left;
}

.row2 {
	width: 40%;
	float: right;
}

.h1 {
	padding-top: 10px;
}

.box_title {
	width: 400px;
	height: 850px;
	text-align: center;
	border-style: double;
	border-radius: 15%;
	display: block;
	font-size: medium;
	border-color: white;
	margin-left: auto;
	margin-right: auto;
}

.box_title2 {
	width: 550px;
	height: 575px;
	text-align: center;
	border-style: double;
	border-radius: 5%;
	display: inline-block;
	font-size: medium;
	border-color: white;
	margin-left: auto;
	margin-right: auto;
}

.box_title3 {
	width: 300px;
	height: 500px;
	text-align: center;
	border-radius: 15%;
	display: block;
	font-size: medium;
	margin-left: auto;
	margin-right: auto;
}

.ptable {
	display: inline-block;
	font-size: 16px;
	padding-top: 10px;
	color: black;
}

.photo_title {
	width: 50%;
	height: 350px;
	display: inline-block;
	flex-flow: row;
	margin-left: auto;
	margin-right: auto;
}

.henry-image {
	flex-flow: row;
	width: 300px;
	height: 200px;
}

.headline-image {
	flex-flow: row;
	width: 200px;
	height: 200px;
}

#label.field {
    display: block;
    text-align: center;
    width: 100px;
    color: white;
    float: left;
}

.footer {
	background-color: #eee;
	float: left;
	text-align: left;
	height: 10px;
}

.form-group {
	width: 40%;
}

