{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="">
    //<![CDATA[
    Stripe.publishableKey= '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<form id='user_form' methods='post' action="/checkout">{% csrf_token %}
<noscript>
    &lt:p&gt;
        This form requires Javascript to work!
    &lt:/p&gt;
</noscript>
{{ form.non_field_errors }}
{{ form.field_errors }}
<fieldset>
    
<!-- Form Name -->
<div class="container">
        <div class="row1">
        <h1>Checkout</h1>
            <div id="box" class="box_title3">

<!-- Text input-->
                <div class="control-group">
                  <label class="control-label" for="full_name">Full Name</label> 
                      <div class="controls">
                          <input id="full_name" name="full_name" type="text" placeholder="Full Name"
                            class="input-x-large">
                      </div>
                </div>

                <div class="control-group">
                     <label class="control-label" for="e-mail">E-mail</label> 
                          <div class="controls">
                              <input id="e-mail" name="e-mail" type="text" placeholder="E-mail" class="input-x-large">
                          </div>
                </div>

{{form.stripe_id.as_hidden}}

{% include 'stripe_form.html' %}

                <br/>
                    <div class="actions">
                        <input class="btn btn-primary" id="user_submit" name="commit" type="submit" value="Validate Credit Card">
                    </div>
            </div>
        </div>
</div>

</fieldset>
</form>

{% endblock %}