<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block content %}
    <h1></h1>
    <body>
       <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for ('get_posts') }}"><img src="/media/img/logo.png"></img></a>
                <a class="btn btn-primary btn-sm" href="{{ url_for('new_post') }}">New Post</a></p>
            </div>
        </div>
    </nav>
   <div id="masthead">
        <div class="container">
            <div class="row">
                    <p id="logo" class="lead">The trials of a Football Fan</p>
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <!--blogpost entries-->
                        
                        <!--blogpost entries-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Made by Lee Molton</p>
        </div>
    </footer>
    </body>
    {% endblock %}
</html>