{% extends 'base.html' %}
{% block content %}
<h1>Dates for your Diary</h1>
</div>
<body>
    <div class="container">
        <div id="box" class="box_title">
            <div style="width:50%; float: center">
                <div id="box">
                    <p>Have you got a diary, go and get it I have some important dates for you!</p>
                    <h5>October</h5>
                    <h6>Premier League</h6>
                    <ul>Sat 20 Chelsea v Man United 12.30</ul>
                    <ul>Sun 28 Man United v Everton 16.00</ul>
                    <h6>Champions League</h6>
                    <ul>Tues 2 Man United v Valencia 20.00</ul>
                    <h5>November</h5>
                    <h6>Premier League</h6>
                    <ul>Sat 3 Arsenal v Liverpool 17.30</ul>
                    <ul>Sun 11 Man City v Man United 16.30</ul>
                    <h6>Champions League</h6>
                    <ul>Tues 27 Lyon v Man City 20.00</ul>
                    <h5>December</h5>
                    <h6>Premier League</h6>
                    <ul>Sat 1 Arsenal v Tottenham 15.00</ul>
                    <ul>Sat 1 Liverpool v Everton 15.00</ul>
                    <h6>Champions League</h6>
                    <ul>Tues 11 Barcelona v Tottenham 20.00</ul>
                    <h5>January</h5>
                    <h6>Premier League</h6>
                    <ul>Tues 1 Man City v Liverpool 15.00</ul>
                    <ul>Sat 19 Arsenal v Chelsea 15.00</ul>
                    <h5>February</h5>
                    <h6>Premier League</h6>
                    <ul>Sat 9 Man City v Chelsea 15.00</ul>
                    <ul>Sat 23 Everton v Man City 15.00</ul>
            <div id="box" class="box_title">
            <div style="width:50%; float: right">
                    <img id="headline-image" src="static/img/Hazard.jpg" width="300">
                    <img id="headline-image" src="static/img/Pogba.jpg" width="300">
                    <img id="headline-image" src="static/img/Coleman.jpg" width="300">
                    <img id="headline-image" src="static/img/zaha.jpg" width="300">
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %} 