<!DOCTYPE html>
<html lang="en">
    <title>Football Fans Website</title>
{% extends 'base.html' %}
{% block content %}
</div>
<body>
    <div class="container">
        <h1>A Step up for Henry</h1>
        <img id="landing-image" src="static/img/Thierry Henry.jpg" alt="image" height="300" width="500">
    </div>	
	<div class="container">
		<h5>By Lee Molton</h5> 
        <p>The French side, Monaco, have appointed former Arsenal player Thierry Henry as their new head coach. 
        It is Henry’s first head coach role after being an assistant to Belgium coach Roberto Martinez for 2 years. 
        Henry helped guide Belgium to a third place finish in this year’s World Cup.</p>
        <p>Thierry Henry started his career at Monaco in 1994 and played in France for 5 years before joining Arsene Wenger at Juventus.
        He only stayed here for 1 year before Arsene Wenger took him to the Premier League and Arsenal. 
        This is where he had great success, winning two Premier League titles and two FA Cups in eight years. 
        He was also part of the Invincibles squad in 2003/04.</p>
        <p>Henry then moved to Barcelona in 2008 where he won the treble of La Liga, Copa del Rey and Champions League. 
        He then moved to Major League Side Red Bulls in 2010 where he stayed for 5 seasons, returning for a 2-month loan spell to Arsenal in early 2012.</p>
        <p>Thierry Henry was also a World Cup winner with France in 1998 and won the European Championships two years later scoring 51 goals in 123 appearances.
        He retired as a player in December 2014 to work as a television pundit with Sky TV before joining Roberto Martinez’s coaching staff in 2016.</p>
        <p>Can Henry turn his great playing career into becoming a great coach like other famous Frenchmen such as Deschamps and Arsene Wenger? 
        Henry is taking over Monaco who are third from bottom so his first task is to get them away from the bottom of the table.</p>
    </div>
</body>
{% endblock %} 