<!DOCTYPE html>
<html lang="en">
    <title>Football Fans Website</title>
{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row1">
    <div class="col-lg-8 col-lg-10 mx-auto">
        <p>What is it like being a football fan? It is travelling on the road, all over the country following your team 
        through the highs and lows of the season. Let me know your own personal highlights following your team.</p>
        <p>If you like football then this website is for you. You can send in a blog about anything football-related
        and you can also take part in our weekly predictions competition.
        Have a read of our latest football articles below about Thierry Henry taking over at Monaco and Jose under pressure.
        Come and have a look!</p>
    </div>
  </div>
</div>
    <!-- right div -->
      <div class="container">
          <div class="row2">
            <div class="ptable">
              <h6 class="headin">Premier League Results</h6>
              <table>
              </tr>
                <td>Man City</td>
                <td>3</td>
                <td>v</td>
                <td>1</td>
                <td>Everton</td>
              </tr>
                <td>C Palace</td>
                <td>1</td>
                <td>v</td>
                <td>0</td>
                <td>Leicester</td>
              </tr>
                <td>Everton</td>
                <td>3</td>
                <td>v</td>
                <td>0</td>
                <td>Fulham</td>
              </tr>
                <td>Huddersfield</td>
                <td>0</td>
                <td>v</td>
                <td>1</td>
                <td>Newcastle</td>
              </tr>
                <td>Tottenham</td>
                <td>1</td>
                <td>v</td>
                <td>0</td>
                <td>Burnley</td>
              </tr>
                <td>Watford</td>
                <td>3</td>
                <td>v</td>
                <td>2</td>
                <td>Cardiff</td>
              </tr>
                <td>Fulham</td>
                <td>0</td>
                <td>v</td>
                <td>2</td>
                <td>West Ham</td>
              </tr>
                <td>Brighton</td>
                <td>1</td>
                <td>v</td>
                <td>2</td>
                <td>Chelsea</td>
              </tr>
                <td>Southampton</td>
                <td>3</td>
                <td>v</td>
                <td>2</td>
                <td>Arsenal</td>
              </tr>
                <td>Liverpool</td>
                <td>3</td>
                <td>v</td>
                <td>1</td>
                <td>Man United</td>
              </table>
            </div>
          </div>
        <div class="row2">  
          <div class="ptable">
            <h5 class="headin">League Table</h5>
              <table>
                <tr class="col">
                  <th>Pos.</th>
                  <th>Team</th>
                  <th>Played</th>
                  <th>Pts</th>
                </tr>
                <tr class="wpos">
                  <td>1</td>
                  <td>Liverpool</td>
                  <td>17</td>
                  <td>45</td>
                </tr>
                  <td>2</td>
                  <td>Man City</td>
                  <td>17</td>
                  <td>44</td>
                </tr>
                  <td>3</td>
                  <td>Tottenham</td>
                  <td>17</td>
                  <td>39</td>
                </tr>
                  <td>4</td>
                  <td>Chelsea</td>
                  <td>17</td>
                  <td>37</td>
                </tr>
                  <td>5</td>
                  <td>Arsenal</td>
                  <td>17</td>
                  <td>35</td>
                </tr>
                  <td>6</td>
                  <td>Man United</td>
                  <td>17</td>
                  <td>26</td>
                </tr>
                  <td>7</td>
                  <td>Wolves</td>
                  <td>17</td>
                  <td>25</td>
                </tr>
                  <td>8</td>
                  <td>Everton</td>
                  <td>17</td>
                  <td>24</td>
                </tr>
                  <td>9</td>
                  <td>West Ham</td>
                  <td>17</td>
                  <td>24</td>
                </tr>
                  <td>10</td>
                  <td>Watford</td>
                  <td>17</td>
                  <td>24</td>
                </tr>
                  <td>11</td>
                  <td>Bournemouth</td>
                  <td>17</td>
                  <td>23</td>
                </tr> 
                  <td>12</td>
                  <td>Leicester</td>
                  <td>17</td>
                  <td>22</td>
                </tr> 
                  <td>13</td>
                  <td>Brighton</td>
                  <td>17</td>
                  <td>21</td>
                </tr> 
                  <td>14</td>
                  <td>Newcastle</td>
                  <td>17</td>
                  <td>16</td>
                </tr> 
                  <td>15</td>
                  <td>Crystal Palace</td>
                  <td>17</td>
                  <td>15</td>
                </tr> 
                  <td>16</td>
                  <td>Cardiff</td>
                  <td>17</td>
                  <td>14</td>
                </tr> 
                  <td>17</td>
                  <td>Southampton</td>
                  <td>17</td>
                  <td>12</td>
                </tr> 
                  <td>18</td>
                  <td>Burnley</td>
                  <td>17</td>
                  <td>12</td>
                </tr> 
                  <td>19</td>
                  <td>Huddersfield</td>
                  <td>17</td>
                  <td>10</td>
                </tr> 
                  <td>20</td>
                  <td>Fulham</td>
                  <td>17</td>
                  <td>9</td>
                </tr> 
              </table>
            </div>
            <section class="section">
              <div class="container">
                <div class="media-content">
                  <div class="content">
                    <a type="button" class="btn btn-link" href="{% url 'add' %}">Get involved with your Comments</a>
          
                    {% for entry in entries %}
                      <article class="media">
                      <div class="media-content">
                        <p>
                        <strong>{{ entry.date_posted }}</strong>
                        <br>{{ entry.text }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </article>
              {% endfor %}
        
          </div>
        </div>
      </div>
    </div>
    </section>
      <div class="container">
        <h5>Latest News</h5>
        <div id="row2" class="photo_title">
          <a href="/henry.html"><h5>A step up for Henry who takes over as new coach of Monaco.</h5></a>
          <img class="henry-image" src="static/img/Thierry Henry.jpg">
        </div>
          <div id="row2" class="photo_title">
            <a href="/jose.html"><h5>Is time up for Jose? - Will Jose still be Man United manager at Christmas?</h5></a>
            <img class="henry-image" src="static/img/Jose.jpg">
          </div>
      </div>
   <hr>
    </body>
</html>
{% endblock %}