{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>What is it like being a football fan? It is travelling on the road, all over the country following your team 
          through the highs and lows of the season. Let me know your own personal highlights following your team.</p>
          <p>I have been watching Everton since 1985 and have seen a few highs and a lot of lows. 
          I have travelled across Europe watching them play in countries like France, Spain, Germany and even Ukraine.</p>
          <p>If you like football then this website is for you. You can send in a blog about anything football-related,
          in our forum section, comment on or create a new topic and there is a fans section where you can take
          part in our weekly predictions competition and win some prizes. There is also a quiz section for you to answer
          and send in quiz questions.
          Come and have a look!</p>    
      </div>
    </div>
  </div>
{% endblock %}  