<!DOCTYPE html>
<html lang="en">
    <title>Football Fans Website</title>
{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row1">
    <div class="col-lg-8 col-lg-10 mx-auto">
        <p>What is it like being a football fan? It is travelling on the road, all over the country following your team 
        through the highs and lows of the season. Let me know your own personal highlights following your team.</p>
        <p>If you like football then this website is for you. You can send in a blog about anything football-related
        and you can also take part in our weekly predictions competition.
        Have a read of our latest football articles below about Thierry Henry taking over at Monaco and Jose under pressure.
        Come and have a look!</p>
    </div>
  </div>
</div>
    <!-- right div -->
      <div class="container">
          <div class="row2">
            <div class="ptable">
              <h6 class="headin">Premier League Results</h6>
              <table>
              </tr>
                <td>Brighton</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Man City</td>
              </tr>
                <td>Burnley</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Arsenal</td>
              </tr>
                <td>Crystal Palace</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Bournemouth</td>
              </tr>
                <td>Fulham</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Newcastle United</td>
              </tr>
                <td>Leicester City</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Chelsea</td>
              </tr>
                <td>Liverpool</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Wolves</td>
              </tr>
                <td>Man United</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Cardiff City</td>
              </tr>
                <td>Southampton</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Huddersfield</td>
              </tr>
                <td>Tottenham</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>Everton</td>
              </tr>
                <td>Watford</td>
                <td></td>
                <td>v</td>
                <td></td>
                <td>West Ham United</td>
              </table>
            </div>
          </div>
        <div class="row2">  
          <div class="ptable">
            <h5 class="headin">League Table</h5>
              <table>
                <tr class="col">
                  <th>Pos.</th>
                  <th>Team</th>
                  <th>Played</th>
                  <th>Pts</th>
                </tr>
                <tr class="wpos">
                  <td>1</td>
                  <td>Man City</td>
                  <td>36</td>
                  <td>92</td>
                  </tr>
                  <td>2</td>
                  <td>Liverpool</td>
                  <td>36</td>
                  <td>91</td>
                </tr>
                  <td>3</td>
                  <td>Tottenham</td>
                  <td>37</td>
                  <td>70</td>
                </tr>
                  <td>4</td>
                  <td>Chelsea</td>
                  <td>36</td>
                  <td>68</td>
                </tr>
                  <td>5</td>
                  <td>Arsenal</td>
                  <td>36</td>
                  <td>66</td>
                </tr>
                  <td>6</td>
                  <td>Man United</td>
                  <td>36</td>
                  <td>65</td>
                </tr>
                  <td>7</td>
                  <td>Wolves</td>
                  <td>37</td>
                  <td>57</td>
                </tr>
                  <td>8</td>
                  <td>Everton</td>
                  <td>37</td>
                  <td>53</td>
                </tr>
                  <td>9</td>
                  <td>Leicester City</td>
                  <td>36</td>
                  <td>51</td>
                </tr>
                  <td>10</td>
                  <td>Watford</td>
                  <td>36</td>
                  <td>50</td>
                </tr>
                  <td>11</td>
                  <td>West Ham United</td>
                  <td>37</td>
                  <td>49</td>
                </tr> 
                  <td>12</td>
                  <td>Bournemouth</td>
                  <td>37</td>
                  <td>45</td>
                </tr> 
                  <td>13</td>
                  <td>Crystal Palace</td>
                  <td>36</td>
                  <td>45</td>
                </tr> 
                  <td>14</td>
                  <td>Newcastle United</td>
                  <td>36</td>
                  <td>42</td>
                </tr> 
                  <td>15</td>
                  <td>Burnley</td>
                  <td>37</td>
                  <td>40</td>
                </tr> 
                  <td>16</td>
                  <td>Southampton</td>
                  <td>37</td>
                  <td>38</td>
                </tr> 
                  <td>17</td>
                  <td>Brighton</td>
                  <td>37</td>
                  <td>40</td>
                </tr> 
                  <td>18</td>
                  <td>Cardiff City</td>
                  <td>36</td>
                  <td>31</td>
                </tr> 
                  <td>19</td>
                  <td>Fulham</td>
                  <td>37</td>
                  <td>26</td>
                </tr> 
                  <td>20</td>
                  <td>Huddersfield Town</td>
                  <td>36</td>
                  <td>14</td>
                </tr> 
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
      <div class="container">
        <h5>Latest News</h5>
        <div id="row2" class="photo_title">
          <a href="/henry"><h5>A step up for Henry who takes over as new coach of Monaco.</h5></a>
          <img class="henry-image" src="static/img/Thierry_Henry.jpg">
        </div>
          <div id="row2" class="photo_title">
            <a href="/jose"><h5>Is time up for Jose? - Will Jose still be Man United manager at Christmas?</h5></a>
            <img class="henry-image" src="static/img/Jose.jpg">
          </div>
          {% endblock %}
      </div>
   <hr>
    </body>

</html>
