{% extends 'base.html' %}
{% block content %}
</div>
   <div class="container">
       <h1>Is the end near for Jose?</h1>
     <img id="landing-image" src="static/img/Jose.jpg" alt="image" height="300" width="500">
   </div>	
	 <div class="container">
		   <h4>By Lee Molton</h4> 
        <p>Another defeat for Man United and the pressure is increasing for their manager, Jose Mourinho.
        This is now Man United’s worse start to the season in 29 years and leaves them in 10th spot, 9 points behind league leaders Man City. 
        West Ham were struggling with only 4 points but comfortably beat Man United.</p>
        <p>Another defeat for Man United and the pressure is increasing for their manager, Jose Mourinho. 
        This is now Man United’s worse start to the season in 29 years and leaves them in 10th spot, 9 points behind league leaders Man City. 
        West Ham were struggling with only 4 points but comfortably beat Man United.</p>
        <p>Man United need to start going on a run and winning games in the Premier League to try to challenge the top 4. 
        They have got big games coming up in the Champions League and also in the Premier League against Chelsea and the Manchester derby. 
        There is still time for Jose to turn this round but it has to happen quickly because if they fall even further behind the 
        league leaders and results go against them in the Champions League, then the board at Man United may be forced to sack Jose. </p>
        <p>My personal view is that it is just a matter of time before Jose leaves Man United in his third season. 
        I may be wrong but the inevitable looks like it is around the corner. </p>
  </div>
</body>
{% endblock %} 